.filter-search{
    width: 100%;
}

.filter-item-bar{
    color: black !important;
    border-color: darkgrey !important;

    margin-right: 5px !important;
}

.filter-button-bar:hover{
    color: darkgreen !important;
    background-color: rgb(212, 248, 217) !important;
    border-color: darkgreen !important;
}